In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/SMSSpamCollection", sep="\t", names=["classification", "messages"])
df

     classification                                           messages
0               ham  Go until jurong point, crazy.. Available only ...
1               ham                      Ok lar... Joking wif u oni...
2              spam  Free entry in 2 a wkly comp to win FA Cup fina...
3               ham  U dun say so early hor... U c already then say...
4               ham  Nah I don't think he goes to usf, he lives aro...
...             ...                                                ...
5567           spam  This is the 2nd time we have tried 2 contact u...
5568            ham               Will ü b going to esplanade fr home?
5569            ham  Pity, * was in mood for that. So...any other s...
5570            ham  The guy did some bitching but I acted like i'd...
5571            ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [3]:
df.columns

Index(['classification', 'messages'], dtype='object')

In [4]:
df["classification"].unique()

array(['ham', 'spam'], dtype=object)

In [5]:
df["spam"] = df["classification"] == "spam"
df = df.drop("classification", axis=1)

In [6]:
df.tail(2)

                                               messages   spam
5570  The guy did some bitching but I acted like i'd...  False
5571                         Rofl. Its true to its name  False

In [7]:
df["spam"].iloc[:6]

0    False
1    False
2     True
3    False
4    False
5     True
Name: spam, dtype: bool

In [8]:
(~df["spam"]).sum()

np.int64(4825)

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
cv = CountVectorizer(max_features = 1000)
messages = cv.fit_transform(df["messages"])
messages

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 58091 stored elements and shape (5572, 1000)>

In [ ]:
X = torch.tensor(messages.todense(), dtype=torch.float32